:root{
    --background-color: #fff;
    --faq-box-bg: #f9f9f9;
    --faq-h2: #007bff;
    --faq-p: #555;
    --faq-hover: #e3f2fd;
    --footer-bg: #ccf2ff;
}

body.dark-mode {
    --background-color: #333;
    --faq-box-bg: #181836;
    --faq-h2: aqua;
    --faq-p: rgb(160, 175, 189);
    --faq-hover: #374148;
    --footer-bg: #222a2c;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color) !important;
    /* background-color: black !important; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


.faq-container {
    width: 60%;
    background: var(--background-color);
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 28px;
    color: var(--h1-color);
}

.back-button{
    color: var(--primary-color);
    font-size: 20px;
    margin: 20px 0;
    margin-left: 40px;
}

.logo-link i,
.logo-link h1 {
    color: var(--primary-color);
}
.faq {
    background: var(--faq-box-bg);
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.faq:hover {
    background: var(--faq-hover);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    color: var(--faq-h2);
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: var(--faq-p);
    line-height: 1.6;
}

footer, header{
    background: var(--footer-bg) !important;
}